<section ng-controller="AuthenticationController as authCtrl">
    <div class="container">
        <h2 class="text-center">Change Password</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <form ng-submit="authCtrl.changePassword(authCtrl.username, authCtrl.changePasswordCredentials)" name="authCtrl.loginForm">
                    <div class="form-group">
                        <input type="password" name="oldPassword" name="authCtrl.changePasswordCredentials.oldPassword" ng-model="authCtrl.changePasswordCredentials.oldPassword" class="form-control" id="oldPassword" placeholder="Old Password" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="newPassword" name="authCtrl.changePasswordCredentials.newPassword" ng-model="authCtrl.changePasswordCredentials.newPassword" class="form-control" id="newPassword" placeholder="New Password">
                    </div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <button type="submit" class="btn btn-primary waves-effect waves-light btn-block">Change Password</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</section>