<section>
    <div class="container">
        <h2 class="text-center">User Notifications</h2>

        <nav class="navbar navbar-dark default-color">
            <div class="container-fluid">
                <ul class="nav navbar-nav" role="tablist">
                    <li role="presentation" class="active"><a href="#inbox" aria-controls="inbox" role="tab"
                                                              data-toggle="tab" target="_self"><i class="fa fa-envelope"
                                                                                                  aria-hidden="true"></i>
                        Inbox</a></li>
                    <li role="presentation"><a href="#trash" aria-controls="trash" role="tab" data-toggle="tab"
                                               target="_self"><i class="fa fa-trash" aria-hidden="true"></i> Trash</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="inbox">

                <div ng-repeat="notify in notifyController.notifications">
                    <div ng-if="notify.trashed === false">

                        <div ng-if="notify.type === 'reminder'">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg"
                                                     class="img-circle avatar"
                                                     alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{notify.watchlist.watchlistUser}}</b>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a class="btn btn-warning"
                                                   ng-click="notifyController.trash(notify)">
                                                    <i class="fa fa-trash icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>You wanted to watch {{notify.watchlist.video.name}} today at
                                                {{notify.createdDate | date: "dd-MMM-yyyy, H:mm"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div ng-if="notify.type === 'notification_comment'">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg"
                                                     class="img-circle avatar"
                                                     alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{notify.sender}}</b>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a  class="btn btn-default" ng-click="notifyController.goToComment(notify)">
                                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="pull-right">
                                                <a  class="btn btn-warning" ng-click="notifyController.trash(notify)">
                                                    <i class="fa fa-trash icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>You wanted to watch {{notify.watchlist.video.name}} today at
                                                {{notify.createdDate | date: "dd-MMM-yyyy, H:mm"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>


                        <div ng-if="notify.type === 'notification_admin'">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg"
                                                     class="img-circle avatar"
                                                     alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{notify.sender}}</b>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a  class="btn btn-warning" ng-click="notifyController.trash(notify)">
                                                    <i class="fa fa-trash icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>{{notify.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="trash">
                <!-- Comment -->
                <div ng-repeat="notify in notifyController.notifications">


                    <div ng-if="notify.trashed === true">
                        <div ng-if="notify.type === 'reminder'">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg"
                                                     class="img-circle avatar"
                                                     alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{notify.watchlist.watchlistUser}}</b>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a  class="btn btn-danger" ng-click="notifyController.deleteNotification(notify)">
                                                    <i class="fa fa-trash icon"></i> Delete From Database
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>You wanted to watch {{notify.watchlist.video.name}} today at
                                                {{notify.createdDate | date: "dd-MMM-yyyy, H:mm"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>


                        <div ng-if="notify.type === 'notification_comment'">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg"
                                                     class="img-circle avatar"
                                                     alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{notify.sender}}</b>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a class="btn btn-danger" ng-click="notifyController.deleteNotification(notify)">
                                                    <i class="fa fa-trash icon"></i> Delete From Database
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>You wanted to watch {{notify.watchlist.video.name}} today at
                                                {{notify.createdDate | date: "dd-MMM-yyyy, H:mm"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>


                        <div ng-if="notify.type === 'notification_admin'">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg"
                                                     class="img-circle avatar"
                                                     alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{notify.sender}}</b>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a class="btn btn-danger" ng-click="notifyController.deleteNotification(notify)">
                                                    <i class="fa fa-trash icon"></i> Delete From Database
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>{{notify.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>