<section ng-controller="UserController as userCtrl">
    <h2 class="text-center">Users</h2>
    <div class="table-responsive col-xs-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('id')" style="cursor: pointer;">
                            <span>ID</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'id'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('role')" style="cursor: pointer;">
                            <span>Role</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'role'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('username')" style="cursor: pointer;">
                            <span>Username</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'username'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('email')" style="cursor: pointer;">
                            <span>Email</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'email'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('active')" style="cursor: pointer;">
                            <span>Active</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'active'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('subscribed')" style="cursor: pointer;">
                            <span>Subscribed</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'subscribed'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('status')" style="cursor: pointer;">
                            <span>Blocked</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'status'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('blockedUntil')" style="cursor: pointer;">
                            <span>Blocked Until</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'blockedUntil'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('createdDate')" style="cursor: pointer;">
                            <span>Created Date</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'createdDate'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        <span ng-click="userCtrl.sortBy('updatedDate')" style="cursor: pointer;">
                            <span>Updated Date</span>
                            <span class="sortorder" ng-show="userCtrl.propertyName === 'updatedDate'" ng-class="{reverse: userCtrl.reverse}"></span>
                        </span>
                    </th>
                    <th class="text-center" style="width: 80px;">Edit</th>
                    <th class="text-center" style="width: 80px;">Delete</th>
                </tr>
            </thead>

            <tbody ng-repeat="user in userCtrl.usersData | orderBy:userCtrl.propertyName:userCtrl.reverse">
                <tr class="center-cell">
                    <td>{{ user.id }}</td>
                    <td>
                        <span>USER</span>
                        <span ng-if="user.roles[0].type === 'ROLE_ADMIN' || user.roles[1].type === 'ROLE_ADMIN'">, ADMIN</span>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><span ng-if="user.active == true"><i class="fa fa-check" aria-hidden="true"></i></span><span ng-if="user.active == false"><i class="fa fa-ban" aria-hidden="true"></i></span></td>
                    <td><span ng-if="user.subscription == true"><i class="fa fa-check" aria-hidden="true"></i></span><span ng-if="user.subscription == false"><i class="fa fa-ban" aria-hidden="true"></i></span></td>
                    <td><span ng-if="user.status == false"><i class="fa fa-ban" aria-hidden="true"></i></span><span ng-if="user.status == true"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                    <td>{{ user.blockedUntil | date:'dd-MMM-yyyy' }}</td>
                    <td>{{ user.createdDate | date:'dd-MMM-yyyy' }}</td>
                    <td>{{ user.updatedDate | date:'dd-MMM-yyyy' }}</td>
                    <td><button class="btn btn-warning btn-block" data-toggle="modal" data-target="#EditUserModal" ng-click="userCtrl.editUser(user.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                    <td><button class="btn btn-danger btn-block" data-toggle="modal" data-target="#DeleteUserModal" ng-click="userCtrl.selectUser(user.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Active</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="userCtrl.userOptions.active" ng-options="item for item in userCtrl.userOptions.active_options"></select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Subscribed</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="userCtrl.userOptions.subscription" ng-options="item for item in userCtrl.userOptions.subscription_option"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Block until</label>
                                <div class="col-md-10">
                                    <div class="col-xs-11" style="padding-right: 0;">
                                        <input name="datePicker" type="text" class="form-control" uib-datepicker-popup ng-model="userCtrl.userOptions.blockedUntil" is-open="userCtrl.popupCalendar.opened" datepicker-options="userCtrl.datePickerOptions" ng-required="true" close-text="Close" date-parser required/>
                                    </div>
                                    <span class="col-xs-1" style="padding-left: 0;">
                                        <button style="margin-left: 0;" type="button" class="btn btn-sm btn-primary" ng-click="userCtrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Permanent Block</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="userCtrl.userOptions.status" ng-options="item for item in userCtrl.userOptions.status_option"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Is user an admin</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="userCtrl.userOptions.role" ng-options="item for item in userCtrl.userOptions.role_option"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;" data-dismiss="modal" ng-click="userCtrl.updateUser(userCtrl.userOptions)">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="DeleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            Do you want to delete <b>{{ userCtrl.userOptions.username }}</b>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" style="margin-bottom: 10px;" data-dismiss="modal" ng-click="userCtrl.deleteUser(userCtrl.userOptions.userId)">Delete</button>
                </div>
            </div>
        </div>
    </div>


</section>