<section>
    <div class="container">
        <h2 class="text-center">Admin messages</h2>

        <nav class="navbar navbar-dark default-color">
            <div class="container-fluid">
                <ul class="nav navbar-nav" role="tablist">
                    <li role="presentation" class="active"><a href="#inbox" aria-controls="inbox" role="tab" data-toggle="tab" target="_self"><i class="fa fa-envelope" aria-hidden="true"></i> Inbox</a></li>
                    <li role="presentation"><a href="#sent" aria-controls="sent" role="tab" data-toggle="tab" target="_self"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sent</a></li>
                    <li role="presentation"><a href="#trash" aria-controls="trash" role="tab" data-toggle="tab" target="_self"><i class="fa fa-trash" aria-hidden="true"></i> Trash</a></li>
                </ul>
            </div>
        </nav>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="inbox">

                <div ng-repeat="am in amCtrl.adminMessages">
                    <!-- Comment -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-white post panel-shadow">
                                <div class="post-heading">
                                    <div class="pull-left image">
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                    </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">
                                            <b>{{am.sentBy}}</b>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-warning">
                                            <i class="fa fa-trash icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="post-description">
                                    {{am.watchlist.id}}<br>
                                    <b>Comment: </b><br>
                                    <p>{{am.comment.commentContent}}</p>
                                    <b>Message: </b><br>
                                    <p>{{am.message}}</p>

                                    <div class="post-description">
                                        <textarea name="" id="" ng-model="amCtrl.reply" rows="5" class="form-control"></textarea>
                                        <div class="stats">
                                            <a   class="btn btn-default" style="float: right; margin-right: 0;" ng-click="amCtrl.postReply(amCtrl.reply, am)">
                                                <i class="fa fa-reply icon"></i> Reply
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment -->
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="sent">
                <!-- Comment -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>Ryan Haywood</b>
                                    </div>
                                    <h6 class="text-muted time">1 minute ago</h6>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">
                                        <i class="fa fa-trash icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comment -->
                <!-- Comment -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>Ryan Haywood</b>
                                    </div>
                                    <h6 class="text-muted time">1 minute ago</h6>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">
                                        <i class="fa fa-trash icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comment -->
            </div>
            <div role="tabpanel" class="tab-pane" id="trash">
                <!-- Comment -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>Ryan Haywood</b>
                                    </div>
                                    <h6 class="text-muted time">1 minute ago</h6>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-danger">
                                        <i class="fa fa-trash icon"></i> Delete From Database
                                    </a>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comment -->
                <!-- Comment -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>Ryan Haywood</b>
                                    </div>
                                    <h6 class="text-muted time">1 minute ago</h6>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-danger">
                                        <i class="fa fa-trash icon"></i> Delete From Database
                                    </a>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comment -->
            </div>
        </div>
    </div>
</section>