<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center">Add TV Shows</h2>
            <hr>
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter TV Show Title">
                            <span class="input-group-btn">
                            <button class="btn btn-default btn-sm waves-effect waves-light" type="button" style="margin-left: 5px; margin-right: 0;"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Original Title">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Genres">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Pilot Date">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Language">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Homepage">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter IMDB Link">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter YouTube Trailer Link">
                        </div>

                        <div class="form-group">
                            <textarea rows="11" class="form-control" placeholder="Enter Overview" style="border-radius: 0; border-color: #9e9e9e;"></textarea>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img class="poster-image" src="https://image.tmdb.org/t/p/w640/u8zkSt4YT9G5FbTImUoqhLy0pMc.jpg" alt="">
                        <div class="form-group">
                            <label for="">Add Poster</label>
                            <input type="file">
                        </div>
                        <img class="poster-image" src="https://image.tmdb.org/t/p/w1400_and_h450_bestv2/jUPkQdETILcxIW2xSNEzAxUeHgR.jpg" alt="">
                        <div class="form-group">
                            <label for="">Add Backdrop</label>
                            <input type="file">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-default waves-effect waves-light pull-right">Add TV Show</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>