<section ng-controller="TvShowController as tvShowCtrl">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Add a TV Show</h2>
            <hr>
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input ng-model="tvShowCtrl.tvShowObject.name" type="text" class="form-control" placeholder="Enter TV Show Title">
                            <span class="input-group-btn">
                                <button ng-click="tvShowCtrl.getTvShowByTitle(tvShowCtrl.tvShowObject.name)" data-toggle="modal" data-target="#get-tv-shows-list-modal" class="btn btn-default btn-sm waves-effect waves-light" type="button" style="margin-left: 5px; margin-right: 0;"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="tvShowCtrl.tvShowObject.original_name" class="form-control" placeholder="Enter Original Title" ng-disabled="tvShowCtrl.disabled">
                        </div>

                        <div class="form-group">
                            <tags-input class="form-control" ng-model="tvShowCtrl.tvShowObject.genres" display-property="name" min-length="0" placeholder="Add Genre" ng-disabled="tvShowCtrl.disabled"></tags-input>
                            <span class="small">Add genres on enter key</span>
                        </div>

                        <div class="form-group">
                            <tags-input class="form-control" ng-model="tvShowCtrl.tvShowObject.keywords" display-property="name" min-length="0" placeholder="Add Keywords" ng-disabled="tvShowCtrl.disabled"></tags-input>
                            <span class="small">Add keywords on enter key</span>
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="tvShowCtrl.tvShowObject.first_air_date" class="form-control" placeholder="Enter Pilot Date" ng-disabled="tvShowCtrl.disabled">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="tvShowCtrl.tvShowObject.original_language" class="form-control" placeholder="Enter Language" ng-disabled="tvShowCtrl.disabled">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="tvShowCtrl.tvShowObject.homepage" class="form-control" placeholder="Enter Homepage" ng-disabled="tvShowCtrl.disabled">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="tvShowCtrl.tvShowObject.imdb_id" class="form-control" placeholder="Enter IMDB Link" ng-disabled="tvShowCtrl.disabled">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="tvShowCtrl.tvShowObject.trailerLink" class="form-control" placeholder="Enter YouTube Trailer Link" ng-disabled="tvShowCtrl.disabled">
                        </div>

                        <div class="form-group">
                            <textarea rows="11" ng-model="tvShowCtrl.tvShowObject.overview" class="form-control" placeholder="Enter Overview" style="border-radius: 0; border-color: #9e9e9e;" ng-disabled="tvShowCtrl.disabled"></textarea>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <!--<img ng-show="tvShowCtrl.tvShowObject.poster_path == 'img/default_poster.jpg'" class="poster-image" src="/img/default_poster.jpg" alt="">-->
                        <img ng-if="tvShowCtrl.tvShowObject.poster_path != ''"  class="poster-image" ng-src="http://image.tmdb.org/t/p/w500/{{ tvShowCtrl.tvShowObject.poster_path }}" alt="">

                        <!--<div ng-show="tvShowCtrl.tvShowObject.poster_path == 'img/default_poster.jpg'" class="form-group">-->
                            <!--<label>Add Poster</label>-->
                            <!--<input type="file">-->
                        <!--</div>-->

                        <!--<img ng-show="tvShowCtrl.tvShowObject.backdrop_path == 'img/default_backdrop.jpg'" class="poster-image" src="/img/default_backdrop.jpg" alt="">-->
                        <img ng-if="tvShowCtrl.tvShowObject.backdrop_path != ''" class="poster-image" ng-src="http://image.tmdb.org/t/p/w780/{{ tvShowCtrl.tvShowObject.backdrop_path }}" alt="">

                        <!--<div ng-show="tvShowCtrl.tvShowObject.backdrop_path == 'img/default_backdrop.jpg'" class="form-group">-->
                            <!--<label>Add Backdrop</label>-->
                            <!--<input type="file">-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-default waves-effect waves-light pull-right" ng-controller="WatchlistController as wCtrl" ng-click="wCtrl.addToWatchlist(tvShowCtrl.tvShowObject)">Add To Watchlist</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="get-tv-shows-list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="model-header" style="padding: 5px 5px 10px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search results</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body"  ng-show="tvShowCtrl.tvShowsList.length">
                    <div class="col-xs-12 search-result no-padding" ng-repeat="tvshow in tvShowCtrl.tvShowsList">
                        <div class="row search-add-movie-result" style="cursor: pointer; padding: 0 20px;" ng-click="tvShowCtrl.fillTvShowData(tvshow.id)" data-dismiss="modal">
                            <div class="col-xs-2" style="padding-left: 0;">
                                <img class="img-responsive result-poster" src="https://image.tmdb.org/t/p/w154{{ tvshow.poster_path }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
                                    <span class="pull-left"><b>{{ tvshow.name }}</b></span><span class="pull-right">Pilot Date: {{ tvshow.first_air_date }}</span>
                                </div>
                                <div class="row" style="text-align: justify;">
                                    {{ tvshow.overview }}
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loading-spinner" class="loading hidden">Loading&#8230;</div>

</section>