<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12 no-margin no-padding">
            <h4>On TV</h4>
            <div class="col-xs-12 col-sm-12 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500{{ vm.onTv[0].backdrop_path }}" alt="" />
                    <h3 class="big-home-h3"><span>{{ vm.onTv[0].original_name }}</span></h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500{{ vm.onTv[1].backdrop_path }}" alt="" />
                    <h4 class="big-home-h4"><span>{{ vm.onTv[1].original_name }}</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500{{ vm.onTv[2].backdrop_path }}" alt="" />
                    <h4 class="big-home-h4"><span>{{ vm.onTv[2].original_name }}</span></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 no-margin no-padding">
            <h4>In Theaters</h4>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500{{ vm.inTheaters[0].backdrop_path }}" alt="" />
                    <h4 class="big-home-h4"><span>{{ vm.inTheaters[0].original_title }}</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500{{ vm.inTheaters[1].backdrop_path }}" alt="" />
                    <h4 class="big-home-h4"><span>{{ vm.inTheaters[1].original_title }}</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500{{ vm.inTheaters[2].backdrop_path }}" alt="" />
                    <h3 class="big-home-h3"><span>{{ vm.inTheaters[2].original_title }}</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>