<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12 no-margin no-padding">
            <h4>On TV</h4>
            <div class="col-xs-12 col-sm-12 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/aKz3lXU71wqdslC1IYRC3yHD6yw.jpg" alt="" />
                    <h3 class="big-home-h3"><span>Game of Thrones</span></h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/heC5wtIRh8nMz8P8sEClFs6P1LI.jpg" alt="" />
                    <h4 class="big-home-h4"><span>Twin Peaks</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/swHKfpG1vj4fuBtix8jUc16ao9z.jpg" alt="" />
                    <h4 class="big-home-h4"><span>Teen Wolf</span></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 no-margin no-padding">
            <h4>In Theaters</h4>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/puV2PFq42VQPItaygizgag8jrXa.jpg" alt="" />
                    <h4 class="big-home-h4"><span>Despicable me 3</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" alt="" />
                    <h4 class="big-home-h4"><span>Dunkirk</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 no-margin no-padding">
                <div class="big-home-image">
                    <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/vc8bCGjdVp0UbMNLzHnHSLRbBWQ.jpg" alt="" />
                    <h3 class="big-home-h3"><span>Spider-Man: Homecomming</span></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-50"></div>
</div>