<section class="background-image" back-img="http://image.tmdb.org/t/p/w780/{{ vm.movieDetails.backdrop_path }}">
    <div class="row no-padding no-margin" style="background-color: rgba(0,0,0,.6);">
        <div class="container">
            <div class="col-xs-12 col-sm-4">
                <img class="poster-image" src="http://image.tmdb.org/t/p/w500/{{ vm.movieDetails.poster_path }}" alt="">
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <h4 class="white-text">{{ vm.movieDetails.name }} <span class="grey-text small">{{ vm.movieDetails.release_date | date:'yyyy' }}</span>
                    </h4>
                </div>
                <div class="row">
                    <h5 class="white-text">Genres</h5>
                    <p class="white-text genres">
                        <span ng-repeat="genre in vm.movieDetails.genres track by $index">
                            {{ genre.name }}<span class="comma">, </span>
                        </span>
                    </p>
                </div>
                <div class="row">
                <div ng-controller="RatingController as rateCtrl">
                    <span>
                        <div class="progress progress-primary">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">{{rateCtrl.averageRate}}</div>
                        </div>
                    </span>
                <span uib-rating ng-model="rateCtrl.rating" ng-click=rateCtrl.addRating(rateCtrl.rating) max="rateCtrl.max" read-only="rateCtrl.isReadonly"
                	on-hover="rateCtrl.hoveringOver(rateMark)" on-leave="overStar = null"
                    titles="['one','two','three']" aria-labelledby="default-rating"></span>
                <button style="margin-top: 0;" type="button" class="btn btn-sm default-color" ng-click="rateCtrl.rating = 0" ng-disabled="rateCtrl.isReadonly">Clear rating</button>
                </div>
                </div>
                <div class="row">
                    <a href="{{ vm.movieDetails.imdb_id }}" target="_blank"><img src="img/imdb_logo.png" class="imdb-logo"></a>
                    <button ng-hide="::(vm.checkIfAdded())"
                            class="btn-floating btn waves-effect waves-light default-color" data-toggle="tooltip"
                            title="Mark as favorite!"><i class="fa fa-heart" ng-class="(vm.favourite ? 'red':'gray')"
                                                         ng-click="vm.favMovie()" aria-hidden="true"></i></button>
                    <button class="btn-floating btn waves-effect waves-light default-color"
                            ng-if="::(vm.checkIfAdded())"
                            ng-controller="WatchlistController as watchCtrl"
                            ng-click="watchCtrl.addToWatchlist(vm.movieDetails)" data-toggle="tooltip"
                            title="Add to watchlist!"><i class="fa fa-bookmark orange" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <a target="_self"
                       class="btn btn-sm primary-color waves-effect waves-light"
                       style="color: white; margin-left: 0px;"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text="I'm currently watching {{ vm.movieDetails.name }}"
                       socialshare-hashtags="OnlineMovieTracker"
                       socialshare-url="{{ vm.movieDetails.imdb_id }}">
                        Twitter
                    </a>
                    <a target="_self"
                       class="btn btn-sm primary-color-dark waves-effect waves-light"
                       style="color: white;"
                       socialshare
                       socialshare-provider="facebook"
                       socialshare-via="1951619005120869"
                       socialshare-type="share"
                       socialshare-quote="I'm currently watching"
                       socialshare-url="{{ vm.movieDetails.imdb_id }}">
                       Facebook
                    </a>
                    <a target="_self"
                       class="btn btn-sm deep-orange darken-1 waves-effect waves-light"
                       style="color: white"
                       socialshare
                       socialshare-provider="google"
                       socialshare-url="{{ vm.movieDetails.imdb_id }}">
                       Google
                    </a>
                    <a target="_self"
                       class="btn btn-sm blue-grey lighten-5 waves-effect waves-light"
                       style="color: black"
                       socialshare
                       socialshare-provider="reddit"
                       socialshare-text="I'm currently watching {{ vm.movieDetails.name }}"
                       socialshare-url="{{ vm.movieDetails.imdb_id }}">
                       Reddit
                    </a>
                </div>
                <div class="row">
                    <h5 class="white-text">Overview</h5>
                    <p class="white-text">
                        {{ vm.movieDetails.overview }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" class="row" ng-controller="CommentController as comCtrl">
        <div>
            <ul class="nav nav-tabs">
                <li id="about-tab" class="active"><a data-toggle="tab" href="#about" target="_self">About</a></li>
                <li id="trailer-tab"><a data-toggle="tab" href="#trailer" target="_self">Trailer</a></li>
                <li id="gallery-tab"><a data-toggle="tab" href="#gallery" target="_self">Gallery</a></li>
                <li id="actor-tab"><a data-toggle="tab" href="#actors" target="_self">Actors</a></li>
                <li id="creator-tab"><a data-toggle="tab" href="#creators" target="_self">Director</a></li>
                <li id="comments-tab"><a data-toggle="tab" href="#comments"  target="_self">Comments</a></li>
                <li><a ng-if="vm.username === vm.movieDetails.addedBy" data-toggle="tab" href="#edit" target="_self">Edit</a></li>
            </ul>

            <div class="tab-content">
                <div id="about" class="tab-pane fade in active">
                    <br>
                    <h5>
                        <small>Original Title:</small>
                        {{ vm.movieDetails.title }}
                    </h5>
                    <h5 ng-if="vm.movieDetails.release_date != null">
                        <small>Date of Release:</small>
                        {{ vm.movieDetails.release_date | date:'dd-MMM-yyyy' }}
                    </h5>
                    <h5 ng-if="vm.movieDetails.original_language != null">
                        <small>Original Language:</small>
                        {{ vm.movieDetails.original_language }}
                    </h5>
                    <h5 ng-if="vm.movieDetails.runtime != null">
                        <small>Runtime:</small>
                        {{ vm.movieDetails.runtime }}
                    </h5>
                    <h5 ng-if="vm.movieDetails.homepage != ''">
                        <small>Homepage:</small>
                        <a target="_blank" href="{{ vm.movieDetails.homepage }}">{{ vm.movieDetails.homepage }}</a>
                    </h5>
                    <h5 ng-if="vm.movieDetails.keywords.length > 0">
                        <small>Keywords:</small>
                        <span ng-repeat="keyword in vm.movieDetails.keywords track by $index">
                            <span class="label default-color">{{ keyword.name }}</span>
                        </span>
                    </h5>
                </div>
                <div id="trailer" class="tab-pane fade">
                    <br>
                    <div class="videoWrapper">
                        <iframe src="{{ vm.movieDetails.trailerLink }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div id="gallery" class="tab-pane fade">
                    <br>
                    <div class="row">
                        <div uib-carousel active="active" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
                            <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
                                <img src="http://image.tmdb.org/t/p/w780/{{ slide.image }}" style="margin:auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="actors" class="tab-pane fade">
                    <br>
                    <div ng-repeat="actor in vm.movieDetails.characterList" ng-show="actor.job == 'actor'">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-6 col-sm-2">
                                    <img class="person-image"
                                         src="http://image.tmdb.org/t/p/w185/{{ actor.person.picture }}" alt="">
                                </div>
                                <div class="col-xs-6 col-sm-10">
                                    <h5>
                                        <small><b>Name:</b></small>
                                        {{ actor.character }}
                                    </h5>
                                    <h5>
                                        <small><b>Real Name:</b></small>
                                        {{ actor.person.name }}
                                    </h5>
                                    <h5 ng-if="actor.person.birthday != null">
                                        <small><b>Birthday:</b></small>
                                        {{ actor.person.birthday | date:'dd-MM-yyyy' }}
                                    </h5>
                                    <h5 ng-if="actor.person.place_of_birth != null">
                                        <small><b>Place of Birth:</b></small>
                                        {{ actor.person.place_of_birth }}
                                    </h5>
                                    <h5 ng-if="actor.person.biography != ''">
                                        <small><b>Biography:</b></small>
                                    </h5>

                                    <div class="collapse-box" ng-if="actor.person.biography != ''">
                                        <p class="collapse" id="actor_{{ actor.id }}" aria-expanded="false">
                                            {{ actor.person.biography }}
                                        </p>
                                        <a role="button" target="_self" class="collapsed" data-toggle="collapse" href="#actor_{{ actor.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div id="creators" class="tab-pane fade">
                    <br>
                    <div ng-repeat="director in vm.movieDetails.characterList" ng-show="director.job == 'director'">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-6 col-sm-2">
                                    <img class="person-image"
                                         src="http://image.tmdb.org/t/p/w185/{{ director.person.picture }}" alt="">
                                </div>
                                <div class="col-xs-6 col-sm-10">
                                    <h5>
                                        <small><b>Real Name:</b></small>
                                        {{ director.person.name }}
                                    </h5>
                                    <h5 ng-if="director.person.birthday != null">
                                        <small><b>Birthday:</b></small>
                                        {{ director.person.birthday | date:'dd-MM-yyyy' }}
                                    </h5>
                                    <h5 ng-if="director.person.place_of_birth != null">
                                        <small><b>Place of Birth:</b></small>
                                        {{ director.person.place_of_birth }}
                                    </h5>
                                    <h5 ng-if="director.person.biography != ''">
                                        <small><b>Biography:</b></small>
                                    </h5>

                                    <p ng-if="director.person.biography != ''">
                                        {{ director.person.biography }}
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div id="comments" class="tab-pane fade" >
                    <br>
                    <div class="row">
                        <!-- Comment input -->
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                                 alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5"></div>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <form ng-submit="comCtrl.addComment(comCtrl.commentContent)">
                                            <textarea name="" rows="5" class="form-control" ng-model="comCtrl.commentContent"></textarea>
                                            <div class="stats">
                                                <button class="btn btn-default" style="float: right">
                                                    <i class="fa fa-comment-o icon"></i> Comment
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8 col-sm-offset-2 col-xs-12" ng-repeat="comment in comCtrl.comments | orderBy: '-id'">
                            <!-- Comment -->
                            <div id="{{'comment' + comment.id}}" class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <b>{{ comment.commentUser }}</b>
                                                </div>
                                                <h6 class="text-muted time">{{comment.createdDate | date:'dd-MMM-yyyy'}}</h6>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <p>
                                                <span style="text-align: center;" ng-if="comment.commentContent === '' || comment.commentContent === null">
                                                    <i>No comment</i>
                                                </span>
                                                <span style="text-align: center;" ng-if="comment.commentContent !== '' || comment.commentContent !== null">
                                                    {{ comment.commentContent }}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit-comment-modal" ng-click="comCtrl.selectComment(comment)">
                                                <i class="fa fa-pencil icon"></i> Edit
                                            </button>
                                            <button href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-comment-modal" ng-click="comCtrl.selectComment(comment)">
                                                <i class="fa fa-trash icon"></i> Delete
                                            </button>
                                            <button ng-controller="AdminMessageController as amCtrl" href="#" class="btn btn-warning" data-toggle="modal" data-target="#report-comment-modal" ng-click="comCtrl.selectCommentToReport(comment)">
                                                <i class="fa fa-flag icon"></i> Report
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Comment -->
                        </div>
                    </div>
                </div>
                <div id="edit" class="tab-pane fade">
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.name" class="form-control" placeholder="Enter Original Title">
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.original_name" class="form-control" placeholder="Enter Original Title">
                        </div>
                        <div class="form-group">
                            <tags-input class="form-control" ng-model="vm.movieEdit.genres" display-property="name" min-length="0" placeholder="Add Genre"></tags-input>
                            <span class="small">Add genres on enter key</span>
                        </div>

                        <div class="form-group">
                            <tags-input class="form-control" ng-model="vm.movieEdit.keywords" display-property="name" min-length="0" placeholder="Add Keyword"></tags-input>
                            <span class="small">Add keywords on enter key</span>
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.release_date" class="form-control" placeholder="Enter Release Date">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.original_language" class="form-control" placeholder="Enter Language">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.runtime" class="form-control" placeholder="Enter Runtime">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.homepage" class="form-control" placeholder="Enter Homepage">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.imdb_id" class="form-control" placeholder="Enter IMDB Link">
                        </div>

                        <div class="form-group">
                            <input type="text" ng-model="vm.movieEdit.trailerLink" class="form-control" placeholder="Enter YouTube Trailer Link">
                        </div>

                        <div class="form-group">
                            <textarea rows="11" ng-model="vm.movieEdit.overview" class="form-control" placeholder="Enter Overview" style="border-radius: 0; border-color: #9e9e9e;"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default waves-effect waves-light pull-right" ng-click="vm.saveMovie(vm.movieEdit)">Edit Movie</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
		<!-- Delete comment -->
		<div class="modal fade" id="delete-comment-modal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Delete comment</h4>
					</div>
                    <div class="model-body">
                        Do you want to delete this comment?
                    </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="comCtrl.deleteComment(comCtrl.selectedComment.id)">OK</button>
						<button type="button" class="btn btn-danger" style="margin-bottom: 10px;" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<!-- Edit comment -->
		<div class="modal fade" id="edit-comment-modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Edit Comment</h4>
                    </div>
					<div class="modal-body">
                        <form name="comCtrl.addCommentForm">
							<div class="form-group">
								<label class="col-md-2 control-label">Comment:</label>
								<div class="col-md-10">
									<textarea name="" ng-model="comCtrl.selectedComment.commentContent" id="" rows="5" class="form-control" required></textarea>
								</div>
							</div>
						</form>
                        <div class="clearfix"></div>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="comCtrl.saveComment(comCtrl.selectedComment)">OK</button>
						<button type="button" class="btn btn-danger" style="margin-bottom: 10px;" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

        <!-- Modal -->
        <!-- New report-->
        <div class="modal fade" id="report-comment-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Report comment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Comment:</label>
                            <div class="col-md-10">
                                <textarea name="" ng-model="comCtrl.newMessage.message" rows="5" class="form-control"  placeholder="Enter a message"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button ng-controller="AdminMessageController as amCtrl" type="button" data-dismiss="modal" class="btn btn-primary" ng-click="amCtrl.saveAdminMessage(comCtrl.newMessage)">OK</button>
                        <button type="button" class="btn btn-danger" style="margin-bottom: 10px;" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>