<section ng-controller="WatchlistController as watchCtrl">
    <section ng-controller="ScheduleListController as schListCtrl">
        <div class="container">

            <div class="table-responsive col-xs-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <span style="cursor: pointer;">
                                <span>Poster</span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="watchCtrl.sortBy('video.name')" style="cursor: pointer;">
                                <span>Title</span>
                                <span class="sortorder" ng-show="watchCtrl.propertyName === 'video.name'"
                                      ng-class="{reverse: watchCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="watchCtrl.sortBy('video.rating')" style="cursor: pointer;">
                                <span>Rating</span>
                                <span class="sortorder" ng-show="watchCtrl.propertyName === 'video.rating'"
                                      ng-class="{reverse: watchCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="watchCtrl.sortBy('video.genres.name')" style="cursor: pointer;">
                                <span>Genres</span>
                                <span class="sortorder" ng-show="watchCtrl.propertyName === 'video.genres.name'"
                                      ng-class="{reverse: watchCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="watchCtrl.sortBy('video.comments')" style="cursor: pointer;">
                                <span>Comments</span>
                                <span class="sortorder" ng-show="watchCtrl.propertyName === 'video.comments'"
                                      ng-class="{reverse: watchCtrl.reverse}"></span>
                                </span>
                        </th>
                        <th class="text-center" ng-click="watchCtrl.sortBy('watchDate')" style="cursor: pointer;">
                            <span>Watch Date</span>
                            <span class="sortorder" ng-show="watchCtrl.propertyName === 'watchDate'"
                                  ng-class="{reverse: watchCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th class="text-center">
                            <span>Actions</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="watchlist in watchCtrl.userWatchlist | orderBy:watchCtrl.propertyName:watchCtrl.reverse">
                        <tr style="cursor: pointer;">
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)"><img ng-show="watchlist.video.poster_path" class="watchlist-poster-image" ng-src="http://image.tmdb.org/t/p/w92/{{ watchlist.video.poster_path }}" alt=""></td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">{{ watchlist.video.name }}</td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">Rating</td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">
                                <span ng-repeat="genre in watchlist.video.genres">
                                    {{ genre.name }}<span class="comma">, </span>
                                </span>
                            </td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">Comments</td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)" class="text-center">{{ watchlist.watchDate | date:'dd-MMM-yyyy' }}</td>
                            <td>
                                <button class="btn-floating btn waves-effect waves-light default-color pull-right"
                                        data-toggle="tooltip" title="Delete" ng-click="watchCtrl.deleteWatchlist(watchlist.id)">
                                    <i class="fa fa-trash-o blue" aria-hidden="true"></i>
                                </button>

                                <button type="button" class="btn-floating btn waves-effect waves-light default-color pull-right" data-toggle="modal" data-target="#EditTimeModal" title="Edit" ng-click="watchCtrl.selectWatchlist(watchlist)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>

                                <button class="btn-floating btn waves-effect waves-light default-color pull-right" data-toggle="tooltip" title="Mark as favorite!" ng-click="watchCtrl.favWatchlist(watchlist)">
                                    <i class="fa fa-heart" ng-class="watchlist.favourite ? 'red':'gray'" aria-hidden="true"></i>
                                </button>

                                <button class="btn-floating btn waves-effect waves-light default-color pull-right" title="Schedule!" data-toggle="modal" data-target="#SaveScheduleModal" ng-click="schListCtrl.createNewSchedule(watchlist)">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div ng-controller="CommentController as comCtrl">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                            <div class="panel panel-white post panel-shadow">
                                <div class="post-heading">
                                    <div class="pull-left image">
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                             alt="user profile image">
                                    </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">Leave a comment</div>
                                    </div>
                                </div>
                                <div class="post-description">
                                    <form ng-submit="comCtrl.addCommentWatchlistCollection(comCtrl.commentContent)">
                                        <textarea name="" rows="5" class="form-control"
                                                  ng-model="comCtrl.commentContent"></textarea>
                                        <div class="stats">
                                            <button class="btn btn-default" style="float: right">
                                                <i class="fa fa-comment-o icon"></i> Comment
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 col-sm-offset-2 col-xs-12"
                         ng-repeat="comment in comCtrl.comments | orderBy: '-id'">
                        <!-- Comment -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                                 alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <b>{{ comment.commentUser }}</b>
                                            </div>
                                            <h6 class="text-muted time">{{comment.createdDate | date:'dd-MMM-yyyy'}}</h6>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>
                                            <span style="text-align: center;"
                                                  ng-if="comment.commentContent === '' || comment.commentContent === null">
                                                <i>No comment</i>
                                            </span>
                                            <span style="text-align: center;"
                                                  ng-if="comment.commentContent !== '' || comment.commentContent !== null">
                                                  {{ comment.commentContent }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <button href="#" class="btn btn-primary" data-toggle="modal"
                                                data-target="#edit-comment-modal" ng-click="comCtrl.selectComment(comment)">
                                            <i class="fa fa-pencil icon"></i> Edit
                                        </button>
                                        <button href="#" class="btn btn-danger" data-toggle="modal"
                                                data-target="#delete-comment-modal"
                                                ng-click="comCtrl.selectComment(comment)">
                                            <i class="fa fa-trash icon"></i> Delete
                                        </button>
                                        <button ng-controller="AdminMessageController as amCtrl" href="#"
                                                class="btn btn-warning" data-toggle="modal"
                                                data-target="#report-comment-modal"
                                                ng-click="comCtrl.selectCommentToReport(comment)">
                                            <i class="fa fa-flag icon"></i> Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <!-- Delete comment -->
                    <div class="modal" id="delete-comment-modal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Delete comment</h4>
                                </div>
                                <div class="model-body">
                                    Do you want to delete this comment?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            ng-click="comCtrl.deleteComment(comCtrl.selectedComment.id)">OK
                                    </button>
                                    <button type="button" class="btn btn-danger" style="margin-bottom: 10px;"
                                            data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <!-- Edit comment -->
                    <div class="modal" id="edit-comment-modal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Edit Comment</h4>
                                </div>
                                <div class="modal-body">
                                    <form name="comCtrl.addCommentForm">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Comment:</label>
                                            <div class="col-md-10">
                                                <textarea name="" ng-model="comCtrl.selectedComment.commentContent" id=""
                                                          rows="5" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-primary"
                                            ng-click="comCtrl.saveComment(comCtrl.selectedComment)">OK
                                    </button>
                                    <button type="button" class="btn btn-danger" style="margin-bottom: 10px;"
                                            data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <!-- New report-->
                    <div class="modal" id="report-comment-modal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Report comment</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Comment:</label>
                                        <div class="col-md-10">
                                            <textarea name="" ng-model="comCtrl.newMessage.message" rows="5"
                                                      class="form-control" placeholder="Enter a message"></textarea>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button ng-controller="AdminMessageController as amCtrl" type="button"
                                            data-dismiss="modal" class="btn btn-primary"
                                            ng-click="amCtrl.saveAdminMessage(comCtrl.newMessage)">OK
                                    </button>
                                    <button type="button" class="btn btn-danger" style="margin-bottom: 10px;"
                                            data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal" id="EditTimeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Edit Watch Date</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-11" style="padding-right: 0;">
                                        <input name="datePicker" type="text" class="form-control" uib-datepicker-popup
                                               ng-model="watchCtrl.watchDate" is-open="watchCtrl.popupCalendar.opened"
                                               datepicker-options="watchCtrl.datePickerOptions" ng-required="true"
                                               close-text="Close" date-parser required/>
                                    </div>
                                    <span class="col-xs-1" style="padding-left: 0;">
                                <button style="margin-left: 0;" type="button" class="btn btn-sm btn-primary"
                                        ng-click="watchCtrl.openCalendar()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" style="margin-bottom: 10px;"
                                        ng-click="watchCtrl.saveWatchDate(watchCtrl.selectedWatchlist.id, watchCtrl.watchDate)"
                                        data-dismiss="modal">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="SaveScheduleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabe2">Make a new scheduling</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-11" style="padding-right: 0;">
                                <input name="datePicker" type="text" class="form-control" uib-datepicker-popup ng-model="schListCtrl.newSchedule.scheduledDateTime" is-open="schListCtrl.popupCalendar.opened" datepicker-options="schListCtrl.datePickerOptions" ng-required="true" close-text="Close" date-parser required placeholder="Date"/>
                            </div>
                            <span class="col-xs-1" style="padding-left: 0;">
                                <button style="margin-left: 0;" type="button" class="btn btn-sm btn-primary" ng-click="schListCtrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-3">
                                    <div class="form-group">
                                        <input type="number" ng-model="schListCtrl.hours" class="form-control" placeholder="Hours">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="number" ng-model="schListCtrl.minutes" class="form-control" placeholder="Minutes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" data-dismiss="modal" ng-click="schListCtrl.saveSchedule(schListCtrl.newSchedule)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>