<section ng-controller="WatchlistController as watchCtrl">
    <div class="container">
        <section>
            <div class="row no-padding no-margin">
                <div class="container">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="wCtrl.searchData.username" placeholder="Search Watchlist by User">
                            <span class="input-group-btn">
                              <button ng-click="wCtrl.getUserWatchlist(wCtrl.searchData.username)" data-toggle="modal" class="btn btn-default btn-sm waves-effect waves-light" type="submit" style="margin-left: 5px; margin-right: 0;">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                              </button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section>
            <div class="table-responsive col-xs-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <span style="cursor: pointer;">
                                <span>Poster</span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="wCtrl.sortBy('video.name')" style="cursor: pointer;">
                                <span>Title</span>
                                <span class="sortorder" ng-show="wCtrl.propertyName === 'video.name'"
                                      ng-class="{reverse: wCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="wCtrl.sortBy('video.averageRate')" style="cursor: pointer;">
                                <span>Rating</span>
                                <span class="sortorder" ng-show="wCtrl.propertyName === 'video.averageRate'"
                                      ng-class="{reverse: wCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="wCtrl.sortBy('video.genres[0].name')" style="cursor: pointer;">
                                <span>Genres</span>
                                <span class="sortorder" ng-show="wCtrl.propertyName === 'video.genres[0].name'"
                                      ng-class="{reverse: wCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span ng-click="wCtrl.sortBy('numberOfComments')" style="cursor: pointer;">
                                <span>Comments</span>
                                <span class="sortorder" ng-show="wCtrl.propertyName === 'numberOfComments'"
                                      ng-class="{reverse: wCtrl.reverse}"></span>
                            </span>
                        </th>
                        <th>
                            <span style="cursor: pointer;">
                                <span>Watchlist user</span>
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="watchlist in wCtrl.userWatchlist | orderBy:wCtrl.propertyName:wCtrl.reverse" ng-controller="RatingController as rateCtrl">
                        <tr style="cursor: pointer;" ng-if= "watchlist.watchlistUser === wCtrl.username || watchlist.favourite === false || watchlist.favourite === null">
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)"><img ng-show="watchlist.video.poster_path" class="watchlist-poster-image" ng-src="http://image.tmdb.org/t/p/w92/{{ watchlist.video.poster_path }}" alt=""></td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">{{ watchlist.video.name }}</td>
                            <!--<td ng-click="watchCtrl.goToDetailsPage(watchlist)">{{ watchlist.averageRate}}</td>-->
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)"><span ng-controller="SearchController as srchCtrl"><span ng-init="srchCtrl.getAverageRatings(watchlist.video)">{{ watchlist.video.averageRate }}</span></span></td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">
                                <span>
                           			{{ watchlist.video.genres[0].name }}
                           		</span>
<!--                                 <span ng-repeat="genre in watchlist.video.genres"> -->
<!--                                     {{ genre.name }}<span class="comma">, </span> -->
<!--                                 </span> -->
                            </td>
                            <td ng-click="watchCtrl.goToDetailsPage(watchlist)">{{watchlist.numberOfComments}}</td>
                             <td ng-controller="HomeController as homeCtrl" ng-click="homeCtrl.goToWatchlistCollection(watchlist.watchlistUser)">{{watchlist.watchlistUser}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>