/*General*/
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}

.center-cell, .center-cell > th, .center-cell > td {
    text-align: center;
}

.sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

i.glyphicon.ng-scope.glyphicon-star-empty, i.glyphicon.ng-scope.glyphicon-star {
    font-size: 22px;
    color: #2BBBAD;
    cursor: pointer;
}

span:focus {
    outline: none;
}

span.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty.ng-dirty.ng-valid-parse {
    outline: none;
}

i.glyphicon.ng-scope.glyphicon-star-empty:focus, i.glyphicon.ng-scope.glyphicon-star:focus {
    outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #FFF;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #2BBBAD;
}

/*Navigation*/
.nav>li>a>img {
    max-width: 35px;
}

/*Images on Homepage*/
.big-home-image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.big-home-h3 {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    margin: 0;
    font-size: 18px;
}

.big-home-h4 {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    margin: 0;
    font-size: 18px;
}

.big-home-h3 span {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.big-home-h4 span {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.big-home-image img {
    width: 100%;
}

/* Footer */
.container-fluid {
    text-align: center;
}

.poster-image {
    max-width: 100%;
    padding: 20px;
}

/* Progress bar */
.progress{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    display: inline-block;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 14px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.progress-primary .progress-bar{
    border-color: #2BBBAD;
}
.progress.progress-primary .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/* Tabs */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.blue-grey.lighten-5 {
    background-color: white;
}

.card, .card-panel {
    border-radius: 0;
}

.btn, .btn-floating, .card, .card-panel, .dropdown-content, .dropdown-menu, .panel-group, .z-depth-1 {
    box-shadow: none;
}

.nav-tabs>li>a:hover {
    border: none;
}

.nav-tabs {
    border: none;
}

.nav-tabs>li>a {
    color: #555;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2BBBAD;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
}

/* YouTube Video */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Gallery */
img.ng-scope {
    width: 100%;
}

/* IMDB logo */
.imdb-logo {
    display: inline-block;
    height: 37px;
}

/* Actors on Details page */
.person-image {
    display: block;
    width: 100%;
}

/* Comments */
.panel-shadow {
    box-shadow: none;
}
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 16px;
    font-weight: 400;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}

/* Add Movie */

.search-result {
    margin: 10px 5px;
}

.search-result:first-child {
    margin-top: 15px;
}

.search-add-movie-result {
    cursor: pointer;
    padding: 0 20px;
    margin-right: 5px;
}

.search-add-movie-result:hover {
    background-color: rgba(0,0,0, 0.2);
}

/* Add movie result poster image */
.result-poster {
    margin: 5px 5px 5px 2px;
    width: 100%;
}

/* Genres */
.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-empty.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text,
.form-control.ng-pristine.ng-valid.ng-isolate-scope.ng-empty.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-touched,
.form-control.ng-valid.ng-isolate-scope.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-touched.ng-dirty.ng-not-empty,
.form-control.ng-untouched.ng-valid.ng-isolate-scope.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-dirty.ng-not-empty,
.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-not-empty,
.form-control.ng-pristine.ng-valid.ng-isolate-scope.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-not-empty.ng-touched {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-empty.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text::placeholder,
.form-control.ng-pristine.ng-valid.ng-isolate-scope.ng-empty.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-touched::placeholder {

}

tags-input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-not-empty,
tags-input.form-control.ng-untouched.ng-valid.ng-isolate-scope.ng-valid-max-tags.ng-valid-min-tags.ng-valid-leftover-text.ng-not-empty.ng-dirty {
    height: auto;
}

.input.ng-pristine.ng-valid.ng-empty.ng-touched,
.input.ng-pristine.ng-valid.ng-empty {
    padding: 0;
    margin: 0;
}

input.ng-valid.ng-dirty.ng-empty.ng-touched,
input.ng-valid.ng-dirty.ng-empty.ng-not-touched {
    padding-left: 0;
}

input.ng-pristine.ng-untouched.ng-valid.ng-empty {
    padding-bottom: 3px;
}

tags-input .tags .input::placeholder {
    color: #9e9e9e;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.42857143;
}

span.small {
    color: #9e9e9e;
}

tags-input .tags .tag-item {
    color: #fff;
    background-color: #2BBBAD;
    border: 1px solid #2BBBAD;
    border-radius: 0;
    margin: 2px 2px;
    padding-top: 2px;
    line-height: 20px;
}

tags-input .tags .tag-item.focused {
    padding-top: 3px;
}

tags-input .tags .tag-item .remove-button {
    color: #fff;
}

tags-input .tags {
    border: none;
    overflow: hidden;
    box-shadow: none;
}

tags-input .tags.focused {
    border: none;
    overflow: hidden;
    box-shadow: none;
}


/* Search results */
.search-result-hover:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
}

.ng-binding.ng-scope:last-child span.comma {
    display: none;
}

/* Spinner */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Calendar */
.uib-day button, .uib-month button, .uib-year button {
    min-width: 0;
}

.uib-datepicker .uib-title {
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Collapsible div */
.collapse-box {
    width: 100%;
    text-align: justify;
}

.collapse-box p.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}

.collapse-box p.collapsing[aria-expanded="false"] {
    height: 40px !important;
}

.collapse-box a.collapsed:after  {
    content: '+ Show More';
}

.collapse-box a:not(.collapsed):after {
    content: '- Show Less';
}

.watchlist-poster-image {
    display: block;
    height: 100px;
    width: auto;
    margin: 0 auto;
}